@import "../node_modules/uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";
@import "uikit/src/scss/uikit-theme.scss";

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// 

.app-height-1-1 {
  min-height: 100vh;
}

.app-cursor-pointer {
  cursor: pointer;
}

.app-line-through {
  text-decoration: line-through;
}

.app-outline-none {
  outline: none;
}